.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-height: 100vh;
}

.box{
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    width: 40%;
    height: 40%;
    max-width: 500px;
    box-shadow: 0 0 25px rgb(0,140,255)
}

.box__author{
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.quote__box{
    text-align: end;
    margin-bottom: 0.5rem;
}

.box__buttom{
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 50%;
    font-size: 20px;
    display: block;
    margin-left: auto;
    
}


.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    
  }
  
  .shadow__btn {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }
